<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <h1>首頁</h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est laboriosam deserunt excepturi unde blanditiis alias temporibus nihil vitae nobis! Distinctio voluptatum eos non? Asperiores ex corporis voluptatem dolor veritatis exercitationem?
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
